/** Stylus Styles */
@import './material-icons/index'

.v-card-form
    padding 10px 20px

.modal--active
    & > div
        & > .menu__content--select
            z-index 1095 !important

.modal--active
    & > div
        & > .menu__content
            z-index 1095 !important

.modal--active
    & > div
        & > .dialog__content
            z-index 1095 !important

.x-mask
    visibility hidden

.x-mask-msg 
    &.x-layer 
        &.x-mask-msg-default 
            &.ss-loadmask
                visibility hidden

.datatable
  tbody
    td
      cursor: default

.toolbar__content
  .toolbar__title
    cursor: default

.vue-form-generator
    & > fieldset
      border: none